.desktop-6,
.desktop-6 * {
  box-sizing: border-box;
}
.desktop-6 {
  background: #ffffff;
  width: 1440px;
  height: 1353px;
  position: relative;
  overflow: hidden;
}
.rectangle-18 {
  background: #f7f6f6;
  border-radius: 34px;
  width: 1338px;
  height: 884px;
  position: absolute;
  left: 51px;
  top: 122px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.sadewa {
  color: #000000;
  text-align: left;
  font: 400 48px "RobotoSlab-Regular", sans-serif;
  position: absolute;
  left: 636px;
  top: 121px;
}
.rectangle-9 {
  background: #65451f;
  width: 1597px;
  height: 320px;
  position: absolute;
  left: -1487px;
  top: -242px;
}
.raden-sadewa-sahadewa-putrane-prabu-pandhu-lan-dewi-madrim-satriya-wuragile-pandhawa-kembarane-raden-sadewa-asmane-raden-nakula-wujude-nakula-lan-sadewa-kembar-kembar-rupa-swara-lan-busana-nalika-timure-raden-sadewa-kekasih-raden-tangsen-kasatriyane-sadewa-ing-baweratalun-bumiretawu-sedulure-beda-ibu-ana-telu-yaiku-1-prabu-puntadewa-2-raden-wrekudara-3-raden-janaka-puntadewa-wrekudara-janaka-nakula-lan-sadewa-sinebut-kadang-pandhawa-saka-tembung-linggane-pandhu-lan-hawa-tegese-putra-pandhu-aden-sadewa-titising-bhatara-aswin-dewa-tabib-wiwit-cilik-digulawenthah-dening-dewi-kunthi-wujude-raden-sadewa-satriya-bagus-mbranyak-pasemone-watake-jujur-lan-bekti-marang-sedulur-tuwa-ing-lakon-babad-alas-mretani-raden-tangsen-bisa-ngasorake-yudane-jim-sadewa-riwayat-liya-sinebut-ditya-sapulebu-satemah-jim-sadewa-mau-masrahake-kasatriyane-yaiku-baweratalun-lan-paring-aji-pramanajati-kang-dayane-bisa-ngerti-sadurunge-winarah-kanthi-dayane-aji-pramanajati-raden-sadewa-bisa-mbatang-sayembara-cangkriman-sejatining-lanang-sejatining-wadon-banjur-didhaupake-klawan-dewi-srengginiwati-putrane-prabu-bhadawanganala-ratu-ing-gisik-samudra-sabanjure-peputra-sidapeksa-ing-lakon-sudamala-raden-sadewa-sing-ragane-kapanjingan-bathara-guru-bisa-ngruwat-bathari-durga-sang-bathari-banget-panarimane-marang-raden-sadewa-dening-sang-bethari-raden-sadewa-pinaringan-asma-sudamala-tegese-ngresikake-rereged-sarta-kadhawuhan-nggarwa-dewi-padapa-anake-begawan-tambrapetra-ing-padhepokan-prangalas {
  color: #000000;
  text-align: left;
  font: 400 24px "TimesNewRoman-Regular", sans-serif;
  position: absolute;
  left: 114px;
  top: 218px;
  width: 909px;
}
.rectangle-10 {
  background: #65451f;
  width: 1597px;
  height: 320px;
  position: absolute;
  left: 0px;
  top: -233px;
}
.beranda {
  color: #ffffff;
  text-align: left;
  font: 400 20px "Inter-Regular", sans-serif;
  position: absolute;
  left: 1140px;
  top: 34px;
}
.komentar {
  color: #ffffff;
  text-align: left;
  font: 400 20px "Inter-Regular", sans-serif;
  position: absolute;
  left: 1232px;
  top: 34px;
}
.digital-marketing-agency-promotion-instagram-post-4 {
  border-radius: 30px;
  width: 299px;
  height: 489px;
  position: absolute;
  left: 1055px;
  top: 262px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}
.rectangle-11 {
  width: 1597px;
  height: 320px;
  position: absolute;
  left: -74px;
  top: 1040px;
  overflow: visible;
}
.jalan-laksda-adi-sucipto-gg-stasiun-30-kelurahan-purwodadi-kecamatan-blimbing-kota-malang-indonesia-65125 {
  color: #ffffff;
  text-align: left;
  font: 400 22px "Candara-Regular", sans-serif;
  position: absolute;
  left: 569px;
  top: 1174px;
}
.ini-adalah-website-yang-dibuat-untuk-semua-orang-yang-ingin-mempelajari-atau-mengenal-seputar-wayang {
  color: #ffffff;
  text-align: left;
  font: 400 22px "Candara-Regular", sans-serif;
  position: absolute;
  left: 81px;
  top: 1164px;
  width: 351px;
}
.about-us {
  color: #ffffff;
  text-align: left;
  font: 400 48px "Candara-Regular", sans-serif;
  position: absolute;
  left: 81px;
  top: 1076px;
}
.alamat {
  color: #ffffff;
  text-align: left;
  font: 400 48px "Candara-Regular", sans-serif;
  position: absolute;
  left: 581px;
  top: 1076px;
}
.pandawa-5 {
  color: #ffffff;
  text-align: left;
  font: 400 32px "Bellefair-Regular", sans-serif;
  position: absolute;
  left: 63px;
  top: 30px;
}
._62-857-3119-5199-putrinouraadzkiya-gmail-com {
  color: #ffffff;
  text-align: left;
  font: 400 22px "Candara-Regular", sans-serif;
  position: absolute;
  left: 1043px;
  top: 1178px;
}
.contact {
  color: #ffffff;
  text-align: left;
  font: 400 48px "Candara-Regular", sans-serif;
  position: absolute;
  left: 1055px;
  top: 1076px;
}
