.desktop-3,
.desktop-3 * {
  box-sizing: border-box;
}
.desktop-3 {
  background: #ffffff;
  width: 1440px;
  height: 1353px;
  position: relative;
  overflow: hidden;
}
.rectangle-13 {
  border-radius: 0px;
  opacity: 0.699999988079071;
  width: 1350px;
  height: 862px;
  position: absolute;
  left: 53px;
  top: 122.5px;
  overflow: visible;
}
.bima-werkudara {
  color: #000000;
  text-align: left;
  font: 400 48px "RobotoSlab-Regular", sans-serif;
  position: absolute;
  left: 482px;
  top: 143px;
}
.rectangle-9 {
  background: #65451f;
  width: 1597px;
  height: 320px;
  position: absolute;
  left: -101px;
  top: -233px;
}
.beranda {
  color: #ffffff;
  text-align: left;
  font: 400 20px "Inter-Regular", sans-serif;
  position: absolute;
  left: 1145px;
  top: 32px;
}
.komentar {
  color: #ffffff;
  text-align: left;
  font: 400 20px "Inter-Regular", sans-serif;
  position: absolute;
  left: 1230px;
  top: 32px;
}
.werkudara-iku-putrane-prabu-pandhu-dewanata-ian-dewi-kunthi-sing-angka-kalih-werkudara-iku-titisane-bathara-bayu-awit-putra-angka-loro-mula-werkudara-uga-sinebut-putra-panenggaking-pandhawa-sesebutan-liyane-bratasena-bimasena-haryasena-bayusiwi-jagal-abilawa-kusumadilaga-jayalaga-kastriyane-ing-jodhipati-utawa-tunggul-pamenang-garwane-telu-aran-dewi-nagagini-dewi-arimbi-ian-dewi-urangayu-karo-dewi-nagagini-peputra-raden-antareja-karo-dewi-arimbi-peputra-raden-gathutkaca-karo-dewi-urangayu-peputra-raden-antasena-raden-werkudara-duwe-pusaka-aran-kuku-pancanaka-gada-rujakpala-ian-gada-lambita-muka-aji-ajine-bandung-bandawasa-ungkal-bener-blabag-pengantol-antol-bayu-bajra-ing-perang-bratayuda-werkudara-dadi-agul-aguling-pandhawa-werkudara-kang-bisa-mateni-dursasana-sengkuni-lan-duryudana-sawise-perang-bharatayuda-parikesit-wis-jumeneng-nata-bebarengan-marang-sedulur-pandhawa-wis-jumeneng-nata-bebarengan-marang-sedulur-pandhawa-liyane-ninggalake-praja-werkudara-tiwas-sumusul-sadewa-nakula-lan-harjuna-werkudara-tiwas-angka-papat-amarga-nalika-uripe-seneng-mangan-rada-kasar-lan-ora-bisa-basa-wosing-budi-pekerti-1-duwea-watak-satriyatama-luhur-ing-budi-seneng-tetulung-adil-wani-ing-bebener-mbrastha-angkara-murka-2-bektia-marang-wong-tuwa-luwih-luwih-marang-ibu-3-dektia-marang-guru-4-tresna-asih-marang-sedulur-5-darbea-jiwa-satriya-kang-dadi-bentenging-negara {
  color: #000000;
  text-align: left;
  font: 400 25px "TimesNewRoman-Regular", sans-serif;
  position: absolute;
  left: 130px;
  top: 230px;
  width: 876px;
}
.digital-marketing-agency-promotion-instagram-post-1-1 {
  border-radius: 30px;
  width: 302px;
  height: 563px;
  position: absolute;
  left: 1032px;
  top: 240px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}
.rectangle-10 {
  width: 1597px;
  height: 320px;
  position: absolute;
  left: -80px;
  top: 1033px;
  overflow: visible;
}
.about-us {
  color: #ffffff;
  text-align: left;
  font: 400 48px "Candara-Regular", sans-serif;
  position: absolute;
  left: 95px;
  top: 1088px;
}
.ini-adalah-website-yang-dibuat-untuk-semua-orang-yang-ingin-mempelajari-atau-mengenal-seputar-wayang {
  color: #ffffff;
  text-align: left;
  font: 400 20px "Candara-Regular", sans-serif;
  position: absolute;
  left: 90px;
  top: 1182px;
  width: 351px;
}
.alamat {
  color: #ffffff;
  text-align: left;
  font: 400 48px "Candara-Regular", sans-serif;
  position: absolute;
  left: 598px;
  top: 1078px;
}
.pandawa-5 {
  color: #ffffff;
  text-align: left;
  font: 400 32px "Bellefair-Regular", sans-serif;
  position: absolute;
  left: 95px;
  top: 28px;
}
.jalan-laksda-adi-sucipto-gg-stasiun-30-kelurahan-purwodadi-kecamatan-blimbing-kota-malang-indonesia-65125 {
  color: #ffffff;
  text-align: left;
  font: 400 22px "Candara-Regular", sans-serif;
  position: absolute;
  left: 576px;
  top: 1170px;
}
._62-857-3119-5199-putrinouraadzkiya-gmail-com {
  color: #ffffff;
  text-align: left;
  font: 400 22px "Candara-Regular", sans-serif;
  position: absolute;
  left: 1052px;
  top: 1177px;
}
.contact {
  color: #ffffff;
  text-align: left;
  font: 400 48px "Candara-Regular", sans-serif;
  position: absolute;
  left: 1037px;
  top: 1078px;
}
