.desktop-2,
.desktop-2 * {
  box-sizing: border-box;
}
.desktop-2 {
  background: #ffffff;
  width: 1440px;
  height: 1353px;
  position: relative;
  overflow: hidden;
}
.rectangle-12 {
  background: rgba(247, 246, 246, 0.7);
  border-radius: 34px;
  width: 1330px;
  height: 862px;
  position: absolute;
  left: 58px;
  top: 135px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.yudistira-puntadewa {
  color: #000000;
  text-align: left;
  font: 400 48px "RobotoSlab-Regular", sans-serif;
  position: absolute;
  left: 447px;
  top: 160px;
}
.digital-marketing-agency-promotion-instagram-post-1 {
  border-radius: 30px;
  width: 275px;
  height: 504px;
  position: absolute;
  left: 1024px;
  top: 258px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}
.prabu-puntadewa-iku-ratu-ing-amarta-ngamarta-dasanamane-prabu-yudhistira-darmakusuma-darmaputra-darmawangsa-darmaraja-gunatalikrama-sadha-dwijakangka-sang-ajathasatru-garwane-asma-dewi-drupadi-mbakyune-dewi-wara-srikandhi-putrane-prabu-drupada-saka-negara-pancala-saka-sang-prameswari-dewi-drupadi-iki-prabu-puntadewa-peputra-kakung-siji-kekasih-raden-pancawala-prabu-puntadewa-ratu-watak-pandhita-watake-sabar-lan-ikhlas-lila-donya-lila-ing-pati-apa-bae-barang-darbeke-yen-ana-sing-njaluk-mesthi-diparingake-nadyan-segenge-pisan-yen-ana-sing-njaluk-mesthi-dililakake-sajake-urip-ora-tau-ngapusi-goroh-lan-ora-nate-perang-sanadyan-dipeksa-dening-prabu-kresna-supaya-kersa-goroh-kanggo-kemenangane-pandhawa-nalikane-pandhita-drona-jumeneng-mahasenapati-ing-perang-bharatayuda-prabu-puntadewa-tetep-ora-kersa-prabu-puntadewa-tetep-ngendika-jujur-ingkang-pejah-hesthitama-mung-olehe-ngendika-hesthi-lirih-tama-ne-banter-satemah-dadi-jalaran-pandhita-drona-bingung-lan-bisa-dipateni-dening-raden-trusthajumena-amarga-saking-banget-ngati-atine-ora-kersa-gawe-seriking-liyan-lan-ora-kersa-goroh-mula-prabu-puntadewa-digambarake-wong-sing-ludirane-seta-saking-sucine-uripe {
  color: #000000;
  text-align: justified;
  font: 400 25px "TimesNewRoman-Regular", sans-serif;
  position: absolute;
  left: 119px;
  top: 258px;
  width: 855px;
}
.rectangle-9 {
  background: #65451f;
  width: 1820px;
  height: 157px;
  position: absolute;
  left: -190px;
  top: -34px;
}
.beranda {
  color: #ffffff;
  text-align: left;
  font: 400 20px "Inter-Regular", sans-serif;
  position: absolute;
  left: 1162px;
  top: 38px;
}
.komentar {
  color: #ffffff;
  text-align: left;
  font: 400 20px "Inter-Regular", sans-serif;
  position: absolute;
  left: 1262px;
  top: 38px;
}
.rectangle-10 {
  width: 1750px;
  height: 354px;
  position: absolute;
  left: -210px;
  top: 1038px;
  overflow: visible;
}
.ini-adalah-website-yang-dibuat-untuk-semua-orang-yang-ingin-mempelajari-atau-mengenal-seputar-wayang {
  color: #ffffff;
  text-align: left;
  font: 400 22px "Candara-Regular", sans-serif;
  position: absolute;
  left: 119px;
  top: 1191px;
  width: 351px;
}
.alamat {
  color: #ffffff;
  text-align: left;
  font: 400 48px "Candara-Regular", sans-serif;
  position: absolute;
  left: 604px;
  top: 1105px;
}
.pandawa-5 {
  color: #ffffff;
  text-align: left;
  font: 400 32px "Bellefair-Regular", sans-serif;
  position: absolute;
  left: 78px;
  top: 34px;
  width: 190px;
  height: 31px;
}
.jalan-laksda-adi-sucipto-gg-stasiun-30-kelurahan-purwodadi-kecamatan-blimbing-kota-malang-indonesia-65125 {
  color: #ffffff;
  text-align: left;
  font: 400 22px "Candara-Regular", sans-serif;
  position: absolute;
  left: 589px;
  top: 1191px;
}
._62-857-3119-5199-putrinouraadzkiya-gmail-com {
  color: #ffffff;
  text-align: left;
  font: 400 20px "Candara-Regular", sans-serif;
  position: absolute;
  left: 1084px;
  top: 1189px;
}
.contact {
  color: #ffffff;
  text-align: left;
  font: 400 48px "Candara-Regular", sans-serif;
  position: absolute;
  left: 1084px;
  top: 1097px;
}
.about-us {
  color: #ffffff;
  text-align: left;
  font: 400 48px "Candara-Regular", sans-serif;
  position: absolute;
  left: 145px;
  top: 1095px;
  width: 190px;
  height: 59px;
}