.desktop-5,
.desktop-5 * {
  box-sizing: border-box;
}
.desktop-5 {
  background: #ffffff;
  width: 1440px;
  height: 1353px;
  position: relative;
  overflow: hidden;
}
.rectangle-17 {
  background: #f7f6f6;
  border-radius: 34px;
  width: 1338px;
  height: 889px;
  position: absolute;
  left: 53px;
  top: 105px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.nakula {
  color: #000000;
  text-align: left;
  font: 400 48px "RobotoSlab-Regular", sans-serif;
  position: absolute;
  left: 679px;
  top: 118px;
}
.raden-nakula-putrane-prabu-pandhu-lan-dewi-madrim-satriya-sumendhining-pandhawa-kakang-ragil-kagungan-rayi-siji-tunggal-rama-ibu-kekasihe-raden-sadewa-wujude-nakula-lan-sadewa-kembar-kembar-rupa-swara-lan-busana-nalika-timure-raden-nakula-kekasih-raden-pinten-dene-raden-sadewa-kekasih-raden-tangsen-kasatriyane-raden-nakula-ing-sawojajar-sedulure-beda-ibu-ana-telu-yaiku-1-prabu-puntadewa-2-raden-wrekudara-3-raden-janaka-puntadewa-wrekudara-janaka-nakula-lan-sadewa-sinebut-kadang-pandhawa-saka-tembung-linggane-pandhu-lan-hawa-tegese-putra-pandhu-manut-layang-purwacarita-garwane-raden-nakula-sesilih-dewi-srengganawati-putrane-sang-hyang-badhawanganala-karo-dewi-srengganawati-iki-raden-nakula-peputra-siji-sesilih-dewi-sri-tanjung-manut-layang-pustaja-raja-garwane-raden-nakula-sesilih-dewi-suyati-putrane-prabu-kridhakerata-ratu-ing-awuawulangit-nakula-klakon-nggarwa-dewi-suyati-sawise-bisa-ngalahake-indrakesata-karo-dewi-suyati-iki-raden-nakula-peputra-loro-yaiku-raden-pramusinta-lan-dewi-pramuwati-wujude-raden-nakula-satriya-bagus-mbranyak-pasemone-watake-jujur-lan-bekti-marang-sedulur-tuwa-ngarepake-pungkase-perang-bharatayuda-raden-nakula-lan-sadewa-disraya-dening-prabu-kresna-supaya-sowan-ing-ngarsane-prabu-salya-uwake-pakdhene-kanthi-ngliga-keris-pasrah-pati-urip-dhawuh-iki-ditindakake-satemah-prabu-salya-mblakakake-isen-isening-atine-lan-nyuwun-tandhing-mungsuh-prabu-puntadewa-satemah-dadi-srana-menange-bharatayuda-tumrap-pandhawa {
  color: #000000;
  text-align: left;
  font: 400 25px "TimesNewRoman-Regular", sans-serif;
  position: absolute;
  left: 120px;
  top: 206px;
  width: 909px;
}
.rectangle-9 {
  background: #65451f;
  width: 1597px;
  height: 320px;
  position: absolute;
  left: -79px;
  top: -240px;
}
.beranda {
  color: #ffffff;
  text-align: left;
  font: 400 20px "Inter-Regular", sans-serif;
  position: absolute;
  left: 1170px;
  top: 31px;
}
.komentar {
  color: #ffffff;
  text-align: left;
  font: 400 20px "Inter-Regular", sans-serif;
  position: absolute;
  left: 1240px;
  top: 31px;
}
.digital-marketing-agency-promotion-instagram-post-3-1 {
  border-radius: 30px;
  width: 280px;
  height: 461px;
  position: absolute;
  left: 1051px;
  top: 240px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}
.rectangle-10 {
  width: 1597px;
  height: 320px;
  position: absolute;
  left: -79px;
  top: 1033px;
  overflow: visible;
}
._62-857-3119-5199-putrinouraadzkiya-gmail-com {
  color: #ffffff;
  text-align: left;
  font: 400 22px "Candara-Regular", sans-serif;
  position: absolute;
  left: 1094px;
  top: 1153px;
  width: 288px;
  height: 41px;
}
.jalan-laksda-adi-sucipto-gg-stasiun-30-kelurahan-purwodadi-kecamatan-blimbing-kota-malang-indonesia-65125 {
  color: #ffffff;
  text-align: left;
  font: 400 22px "Candara-Regular", sans-serif;
  position: absolute;
  left: 626px;
  top: 1153px;
}
.ini-adalah-website-yang-dibuat-untuk-semua-orang-yang-ingin-mempelajari-atau-mengenal-seputar-wayang {
  color: #ffffff;
  text-align: left;
  font: 400 22px "Candara-Regular", sans-serif;
  position: absolute;
  left: 84px;
  top: 1158px;
  width: 351px;
  height: 32px;
}
.about-us {
  color: #ffffff;
  text-align: left;
  font: 400 48px "Candara-Regular", sans-serif;
  position: absolute;
  left: 84px;
  top: 1068px;
}
.alamat {
  color: #ffffff;
  text-align: left;
  font: 400 48px "Candara-Regular", sans-serif;
  position: absolute;
  left: 626px;
  top: 1068px;
}
.pandawa-5 {
  color: #ffffff;
  text-align: left;
  font: 400 32px "Bellefair-Regular", sans-serif;
  position: absolute;
  left: 57px;
  top: 24px;
}
.contact {
  color: #ffffff;
  text-align: left;
  font: 400 48px "Candara-Regular", sans-serif;
  position: absolute;
  left: 1097px;
  top: 1068px;
}
