.desktop-7,
.desktop-7 * {
  box-sizing: border-box;
}
.desktop-7 {
  background: #ffffff;
  width: 1440px;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.rectangle-11 {
  background: #c8ae7d;
  border-radius: 40px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 1551px;
  height: 130px;
  position: absolute;
  left: -56px;
  top: 894px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 1);
}
.carbon-send {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 1330px;
  top: 929px;
  overflow: visible;
}
.gg-profile {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 51px;
  top: 91px;
  overflow: hidden;
}
.nzzzzzz {
  color: #000000;
  text-align: left;
  font: 400 32px "JosefinSans-Regular", sans-serif;
  position: absolute;
  left: 151px;
  top: 191px;
  width: 128px;
  height: 27px;
}
.baguss-nih-cocok-buat-belajar {
  color: #000000;
  text-align: left;
  font: 400 24px "Jaldi-Regular", sans-serif;
  position: absolute;
  left: 151px;
  top: 229px;
  width: 471px;
}
.gg-profile2 {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 51px;
  top: 192px;
  overflow: hidden;
}
.group {
  height: auto;
  position: absolute;
  right: 8.33%;
  left: 0%;
  width: 91.67%;
  bottom: 8.33%;
  top: 0%;
  height: 91.67%;
  overflow: visible;
}
.group2 {
  height: auto;
  position: absolute;
  right: 91.16%;
  left: 3.75%;
  width: 5.09%;
  bottom: 58.76%;
  top: 34.08%;
  height: 7.16%;
  overflow: visible;
}
.nataniasylvv {
  color: #000000;
  text-align: left;
  font: 400 32px "JosefinSans-Regular", sans-serif;
  position: absolute;
  left: 151px;
  top: 353px;
}
.text {
  color: #000000;
  text-align: left;
  font: 400 32px "JosefinSans-Regular", sans-serif;
  position: absolute;
  left: 849px;
  top: 250px;
}
.kerenn-kerenn {
  color: #000000;
  text-align: left;
  font: 400 24px "Jaldi-Regular", sans-serif;
  position: absolute;
  left: 151px;
  top: 381px;
  width: 471px;
}
.ketik-disini {
  color: #000000;
  text-align: left;
  font: 200 36px "Inter-ExtraLight", sans-serif;
  position: absolute;
  left: 128px;
  top: 937px;
  width: 471px;
}
.ep-back {
  width: 96px;
  height: 64px;
  position: absolute;
  left: 15px;
  top: 33px;
  overflow: visible;
}
