.desktop-4,
.desktop-4 * {
  box-sizing: border-box;
}
.desktop-4 {
  background: #ffffff;
  width: 1440px;
  height: 1353px;
  position: relative;
  overflow: hidden;
}
.rectangle-9 {
  background: #65451f;
  width: 1597px;
  height: 320px;
  position: absolute;
  left: 0px;
  top: -239px;
}
.beranda {
  color: #ffffff;
  text-align: left;
  font: 400 20px "Inter-Regular", sans-serif;
  position: absolute;
  left: 1171px;
  top: 29px;
}
.komentar {
  color: #ffffff;
  text-align: left;
  font: 400 20px "Inter-Regular", sans-serif;
  position: absolute;
  left: 1267px;
  top: 29px;
}
.rectangle-13 {
  border-radius: 0px;
  opacity: 0.699999988079071;
  width: 1350px;
  height: 862px;
  position: absolute;
  left: 49px;
  top: 120px;
  overflow: visible;
}
.ing-jagad-ora-ana-tandhingane-bab-kebagusane-amarga-janaka-minangka-simbol-amal-becik-amal-becik-ora-bisa-pisah-klawan-swarga-jannah-janaka-saka-tembung-jannahuka-tegese-swargamu-mula-sapa-sing-kepengin-mlebu-swarga-kudu-tumindak-becik-lan-nindakake-tuntunaning-agama-kanthi-temen-arjuna-satriya-digdaya-sekti-mandraguna-polatan-luruh-jatmika-prigel-ing-samubarang-seneng-tetulung-marang-sapa-bae-mula-ditresnani-dening-sapa-bae-ora-mokal-yen-garwane-pirang-pirang-bojo-akeh-iki-tegese-janaka-ditresnani-dening-sapa-bae-yen-priya-ngondhangake-kasudibyane-yen-wanita-ngondhangake-sigiting-citra-arjuna-kejaba-sugih-bojo-uga-sugih-kawruh-ilmu-sugih-gaman-lan-mantran-sugih-guru-meguru-marang-begawan-padmanaba-antuk-aji-telung-warna-yaiku-1-aji-sepiangin-dayane-aji-yen-kawateg-kebating-lakune-arjuna-tan-prabeda-kaya-kebating-angin-lakune-bisa-ngungkuli-lakuning-barat-2-aji-malayabumi-arjuna-bisa-ilang-sapalungguhan-3-aji-sempaliputri-arjuna-bisa-manijing-ajur-ajer-pusakane-pirang-pirang-kang-asring-digunakake-keris-pulanggeni-kalanadhah-panah-merdaging-rodha-dhadhali-haryas-sangkala-sarutama-pasopati {
  color: #000000;
  text-align: left;
  font: 400 25px "TimesNewRoman-Regular", sans-serif;
  position: absolute;
  left: 130px;
  top: 263px;
  width: 909px;
}
.arjuna {
  color: #000000;
  text-align: left;
  font: 400 48px "RobotoSlab-Regular", sans-serif;
  position: absolute;
  left: 631px;
  top: 156px;
}
.digital-marketing-agency-promotion-instagram-post-2-1 {
  border-radius: 30px;
  width: 286px;
  height: 514px;
  position: absolute;
  left: 1083px;
  top: 255px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}
.rectangle-10 {
  width: 1597px;
  height: 320px;
  position: absolute;
  left: -80px;
  top: 1033px;
  overflow: visible;
}
.ini-adalah-website-yang-dibuat-untuk-semua-orang-yang-ingin-mempelajari-atau-mengenal-seputar-wayang {
  color: #ffffff;
  text-align: left;
  font: 400 22px "Candara-Regular", sans-serif;
  position: absolute;
  left: 84px;
  top: 1158px;
  width: 351px;
  height: 32px;
}
.about-us {
  color: #ffffff;
  text-align: left;
  font: 400 48px "Candara-Regular", sans-serif;
  position: absolute;
  left: 109px;
  top: 1089px;
}
.alamat {
  color: #ffffff;
  text-align: left;
  font: 400 48px "Candara-Regular", sans-serif;
  position: absolute;
  left: 631px;
  top: 1079px;
}
.pandawa-5 {
  color: #ffffff;
  text-align: left;
  font: 400 32px "Bellefair-Regular", sans-serif;
  position: absolute;
  left: 65px;
  top: 26px;
}
.jalan-laksda-adi-sucipto-gg-stasiun-30-kelurahan-purwodadi-kecamatan-blimbing-kota-malang-indonesia-65125 {
  color: #ffffff;
  text-align: left;
  font: 400 22px "Candara-Regular", sans-serif;
  position: absolute;
  left: 604px;
  top: 1160px;
}
._62-857-3119-5199-putrinouraadzkiya-gmail-com {
  color: #ffffff;
  text-align: left;
  font: 400 22px "Candara-Regular", sans-serif;
  position: absolute;
  left: 1083px;
  top: 1160px;
}
.contact {
  color: #ffffff;
  text-align: left;
  font: 400 48px "Candara-Regular", sans-serif;
  position: absolute;
  left: 1118px;
  top: 1079px;
}
